venv
.venv
.idea
.vscode
*.sqlite3
*.db
__pycache__
media
.env

# Логи и временные файлы
*.log
*.pid
*.pyc
*.pyo

# Настройки окружения и кэши
.DS_Store
Thumbs.db

# Статические файлы (если генерируются)
staticfiles
