{% extends 'base.html' %}

{% block title %}Список новостей{% endblock %}

{% block content %}
<div class="jumbotron">
    <!-- Главный баннер с приветствием -->
    <h1 class="display-4 mb-3">Добро пожаловать на Info to Go</h1>
    <p class="lead">Будьте в курсе самых актуальных событий и трендов! Исследуйте новости из различных категорий и открывайте новые горизонты.</p>
</div>

<h2 id="categories" class="mt-4">Категории:</h2>
<div class="category-buttons d-flex flex-wrap mb-4">
    {% for category in categories %}
    <a href="{% url 'news_by_category' category.slug %}" class="btn btn-outline-primary category-btn">
        <!-- Отображение иконки для определённых категорий -->
        {% if category.name == "Технология" %}<i class="bi bi-cpu me-2"></i>{% endif %}
        {% if category.name == "Наука и космос" %}<i class="bi bi-rocket me-2"></i>{% endif %}
        {% if category.name == "Крипто" %}<i class="bi bi-currency-bitcoin me-2"></i>{% endif %}
        {% if category.name == "IT-бизнес" %}<i class="bi bi-briefcase me-2"></i>{% endif %}
        {{ category.name }}
    </a>
    {% endfor %}
</div>

<h2>Все новости:</h2>
<div class="row">
    {% for item in news %}
    <div class="col-md-6 col-lg-4">
        <div class="card mb-4">
            {% if item.image_url %}
            <!-- Изображение новости, если оно доступно -->
            <img src="{{ item.image_url }}" class="card-img-top" alt="{{ item.title }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">Категория: {{ item.category.name }}</p>
                <a href="{% url 'news_detail' item.id %}" class="btn btn-primary">Читать дальше</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
