{% extends 'base.html' %}

{% block title %}Список новостей{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-5 fw-bold">Добро пожаловать в новостной портал Info to Go</h1>
    <p class="col-md-8 fs-4">Будьте в курсе последних событий и трендов. Читайте новости из самых разных категорий!</p>
    <a href="#categories" class="btn btn-primary btn-lg">Посмотреть категории</a>
</div>

<h2 id="categories" class="mt-4">Категории:</h2>
<div class="category-buttons d-flex flex-wrap mb-4">
    {% for category in categories %}
    <a href="{% url 'news_by_category' category.slug %}" class="btn btn-outline-primary m-2 d-flex align-items-center">
        <i class="bi bi-folder me-2"></i> <!-- Иконка папки -->
        {{ category.name }}
    </a>
    {% endfor %}
</div>

<h2>Все новости:</h2>
<div class="row">
    {% for item in news %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">Категория: {{ item.category.name }}</p>
                <a href="{% url 'news_detail' item.id %}" class="btn btn-primary">Читать дальше</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
